h1 {
  color: #f8f8ff;
}

body {
  background: whitesmoke !important;
}

.containerColor {
  background-image: url(/src/img/cloudyapple.png);
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
